.carousel-container {
  position: relative;
  width: 100%;
  max-width: 600px;
  margin: 0 auto;
}

.carousel-slide {
  display: flex;
  width: 100%;
}

.carousel-slide img {
  width: 100%;
  height: auto;
}

.carousel-buttons {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 100%;
  display: flex;
  justify-content: space-between;
  z-index: 2;
}

.carousel-buttons button {
  background: transparent;
  border: none;
  cursor: pointer;
  font-size: 1.5rem;
}

.carousel-buttons i {
  color: white;
}

.carousel-prev i {
  transform: rotate(180deg);
}
